<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
		<title>medical-pluse Website Template | Home :: w3layouts</title>
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<script src="js/jquery.min.js"></script>
		 <!-- Custom Theme files -->
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<link href="css/customStyles.css" rel='stylesheet' type='text/css' />
   		 <!-- Custom Theme files -->
   		 <meta name="viewport" content="width=device-width, initial-scale=1">
		 <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
   		 <!-- webfonts -->
   		 <link href='http://fonts.googleapis.com/css?family=Arimo:400,700|Poppins|Michroma' rel='stylesheet' type='text/css'>
   		  <!-- webfonts -->
	</head>
	<body>
	<nav class="navbar navbar-fixed-top fixedNav">
			<ul>
				<li class="navRight"> CALL US: <a href="tel:" title="Chiropractic Telephone Number" id="customPhone">714-313-5558</a></li>
			</ul>
	</nav>
	<nav class="navbar navbar-default homeNav">
	  	<div class="container-fluid">
		    <div class="navbar-header" id="logoBlock">
				<h3 id="customLogo">Dr. Oscar Castro</h3>
			</div>
				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="about.html">About Dr. Oscar</a></li>
						<li><a href="services.html">Specialties</a></li>
						<li><a href="blog.html">Appointments</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<!-- script-for-nav -->
				<script>
					$(document).ready(function(){
						$("span.menu").click(function(){
							$(".top-nav ul").slideToggle(300);
						});
					});
				</script>
			</div>
		</div>
	</nav>
		<!-- about-us -->
		<div class="about">
						<div class="container">
							<div class="about-grids">
								<div class="col-md-9 about-left">
									<h1>Meet Dr. Oscar Castro</h1>
									<p>Dr. Oscar Castro graduated with a dual degree in Biology and Economics from the University if California at Irvine. He pursued a medical degree in the Anesthesiology Department, specializing with Cancer Pain patients.  After 2 years of studying medicine, Dr. Castro took 5 years off to pursue his passion of triathlon, successfully competing and continues to compete in Ironman distance events.</p>
									<p>In 2001, Dr. Castro decided his heart no longer resonated with becoming a medical doctor and began his journey of Chiropractic.  This, in great part, was influenced by the passing of his beloved sister who fought a courageous battle with Breast Cancer. It was at this point in his life when he realized he wanted to help people in a more holistic manner and became a chiropractor, graduating from the Los Angeles College of Chiropractic in 2005.</p>
									<p>Among the varying techniques he has been previ to have learned over the past years, his speciality resides in full body adjusting.  In addition, he is also credentialed in full body therapy which includes muscle and nerve therapies. He has successfully treated many from newborn infants to 95 year old geriatric patients, from the sedentary to the most elite professional athlete. He gives 100% of his attention to every single patient he comes in contact with, no matter the age, fitness level or degree of ailment. He is extremely personable and is also bilingual.</p>
									<p>In his spare time, there is nothing more important to him than his family. He is the youngest of 16 siblings(yes..all from the same parents).  The majority, including Dr. Castro, reside in the Orange County area and are a very close nit family.  Without question, he loves training and competing in Ironman triathlons and also enjoys traveling.</p>
								</div>
								<div class="col-md-3 about-left">
									<h2>Latest News</h2>
									<!-- news-grid -->
									<div class="news-grid">
										<img src="#" title="name">
									</div>
									<!-- news-grid -->
									<!-- recent-news -->
									<div class="recent-posts">
										<h2>Recent-posts</h2>
										<!-- recent-post-grids -->
											<div class="recent-post-grids">
												<div class="r-post-grid">
													<div class="r-post-grid-left">
														<a href="#"><img src="#" title="name"></a>
													</div>
													<div class="r-post-grid-right">
														<h4>risus elit dignissim</h4>
														<p>Dolor in commodo rutrum, risus elit dignissim mi,ligula eros nec nunc.</p>
													</div>
													<div class="clearfix"> </div>
												</div>
												<div class="r-post-grid">
													<div class="r-post-grid-left">
														<a href="#"><img src="#" title="name"></a>
													</div>
													<div class="r-post-grid-right">
														<h4>risus elit dignissim</h4>
														<p>Dolor in commodo rutrum, risus elit dignissim mi,ligula eros nec nunc.</p>
													</div>
													<div class="clearfix"> </div>
												</div>
												<div class="r-post-grid">
													<div class="r-post-grid-left">
														<a href="#"><img src="#" title="name"></a>
													</div>
													<div class="r-post-grid-right">
														<h4>risus elit dignissim</h4>
														<p>Dolor in commodo rutrum, risus elit dignissim mi,ligula eros nec nunc.</p>
													</div>
													<div class="clearfix"> </div>
												</div>
											</div>
										<!-- recent-post-grids -->
									</div>
									<!-- recent-news -->
								</div>
							</div>
						</div>
					
		<!-- about-us -->
		
		<!-- footer -->
		<div class="footer">
			<div class="container">
				<p class="copy-right">Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
		<!-- /footer -->
	</body>
</html>

